body {
  padding: 20px;
}

ul {
  list-style: none;
}

#imageGallery {
  list-style: none;
  max-width: 1200px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 30px;
}

.img-gallery {
  display: block;
  width: 200px;
}

.is-active {
  border: 2px solid red;
  border-radius: 20px;
}

.eventHeader {
  font-size: 22px;
  font-weight: bold;
}

.eventHeader:hover,
.eventHeader:focus {
  color: blue;
}

.no-active {
  visibility: hidden;
}
